{% extends "auctions/layout.html" %}
<!-- Bootstrap card design taken from https://stackoverflow.com/a/49141973 -->
{% block body %}
    <h2>Active Listings</h2>
    <div class="container">
        {% for listing in listings %}
            <div class="card flex-row flex-wrap">
                <div class="card-header border-0">
                    <img src="{{ listing.listing_image }}" alt="">
                </div>
                <div class="card-block px-2">
                    <a href="{% url 'auctions:listing' listing.id %}">
                        <h4 class="card-title">{{ listing.title }}</h4>
                    </a>
                    <p class="card-text">{{ listing.description }}</p>
                    <p class="card-text">Price: ${{ listing.bid }}</p>
                    <p class="card-text"><small>{{ listing.created }}</small></p>
                </div>
                <div class="w-100"></div>
                <div class="card-footer w-100 text-muted"></div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}