{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div>
            <p class="h2">{{ listing.title }}</p>
            {% if not listing.is_active %}
                <p class="text-success font-weight-bold">You have won this listing, Congrats !!</p>
            {% endif %}
        </div>
        <img src="" class="img-fluid col-sm-12" alt="listing image">
        <div><p class="h6 my-3">{{ listing.description }}</p></div>
        <p><small>Price: ${{ listing.starting_bid }}</small></p>
        {% if user.is_authenticated %}
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#submitBid" 
                role="button" aria-expanded="false" aria-controls="submitBid">Place Bid</a>
                {% if not watcher %}
                    <a class="btn btn-primary" href="{% url 'auctions:watchlist' listing.id %}" 
                    role="button">Add to watchlist</a>
                {% endif %}
                {% if watcher %}
                    <a class="btn btn-primary" href="{% url 'auctions:remove_watchlist' listing.id %}" 
                    role="button">Remove From Watchlist</a>
                {% endif %}
                {% if user.username == added_by %}
                <a class="btn btn-primary" href="{% url 'auctions:close_listing' listing.id %}" 
                role="button">Close Listing</a>
                {% endif %}
            </p>
            <div class="collapse" id="submitBid">
                <div class="card card-body">
                    <form action="{% url 'auctions:bid' listing.id %}" method="post">
                        {% csrf_token %}
                        <label for="userBid">Enter Bid:</label>
                        <input type="text" id="userBid" name="bid"><br><br>
                        <input class="" type="submit">
                    </form>
                </div>
            </div>
        {% endif %}
        <div>
            <h3 class="my-3">
                Details:
            </h3>
            <ul>
                <li>Listed by: {{ added_by }}</li>
                <li>Category: {{ listing.category }}</li>
            </ul>
        </div>
        <form action="{% url 'auctions:comments' listing.id %}" method="post">
            {% csrf_token %}
            {{ commentForm }}
            <input class="my-3 btn-primary" type="submit">
        </form>
        <div class="card">
            <div class="card-body">
                <h2>{{ comments.count }} comments</h2>
                {% for item in comments %}
                    <div class="comments" style="padding: 10px;">
                        <p class="font-weight-bold">
                            {{ item.user }}
                            <span class=" text-muted font-weight-normal">
                                {{ item.time }}
                            </span>
                        </p>
                        {{ item.comment | linebreaks }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}