{% extends "network/posts.html" %}
{% load static %}

{% block user_profile %}
    <div class="card" id="user">
        <div class="card-body">
            <h1 class="card-title">{{ username }}</h1>
            {% if user.id != user_id %}
                <!-- if logged in user not already follows this user then display
                'follow' button and hide 'unfollow' button and vice versa in else condition -->
                {% if not is_user_followed %}
                    <button type="button" class="btn-primary" data-user="{{ user_id }}" id="follow">Follow</button>
                    <button type="button" class="btn-primary hide" data-user="{{ user_id }}" id="unfollow">Un-Follow</button>
                {% else %}
                    <button type="button" class="btn-primary hide" data-user="{{ user_id }}" id="follow">Follow</button>
                    <button type="button" class="btn-primary" data-user="{{ user_id }}" id="unfollow">Un-Follow</button>
                {% endif %}
                <br>
            {% endif %}
        <br>
        </div>

        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Follows: {{ follows }}</li>
                <li class="list-group-item">Followers: {{ followers }}</li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/users.js' %}"></script>
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}