{% extends "encyclopedia/layout.html" %}

<!-- This page is being shared for adding a new entry
and editing existing entries, hence 'title' has been
parameterized -->
{% block title %}
    {{ title }}
{% endblock %}

{% block body %}
    <form action="{% url 'encyclopedia:addPage' %}" method="post">
        {% csrf_token %}
        <!-- Display title section only when content has no data. This
         would prevent from displaying 'title' when editing existing entry -->
        {% if not form.content.value %}
            {{form.formTitle.label_tag}}
            {{form.formTitle}}
        {% endif %}
        {{form.content.label_tag}}
        {{form.content}}
        <input type="submit">
    </form>
{% endblock %}
