.hide {
    display: none;
}

.liked {
    font-size: 100%;
    color: red;
}

.unliked {
    font-size: 100%;
    color: grey;
}

#user {
    /* width: 25rem; */
    background-color:lightskyblue;
}

.card-footer {
    background-color: lightcoral;
}