.hide {
    display: none;
}

.liked {
    font-size: 100%;
    color: #E74C3C;
}

.unliked {
    font-size: 100%;
    color: grey;
}

#user {
    background-color:#AED6F1;
}

.card-footer {
    background-color: #F5B7B1;
}

.show {
    display: block;
}
