{% extends "stocksanalyser/layout.html" %}
{% load static %}

{% block body %}

    {% for article in page_obj %}
        <article class="articles-section">
            <h2><a href="{% url 'stocksanalyser:article' article.id %}">{{ article.title }}</a></h2>
            <p>{{ article.content | slice:":400" }}...</p>
        </article>
    {% endfor %}

    <div class="pagination justify-content-end">
        <span class="step-links">
            {% if page_obj.has_previous %}          
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </span>
    </div>
    
{% endblock %}