{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}StocksAnalyser{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
            crossorigin="anonymous">
        <link href="{% static 'stocksanalyser/styles.css' %}" rel="stylesheet">
        <link rel="shortcut icon" href="#">

        <script src="{% static 'stocksanalyser/stocksanalyser.js' %}"></script>
    </head>
    <body>
    
        <div id="background-img"></div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <div class="container">
                <a class="navbar-brand" href="#"> <img src="{% static 'stocksanalyser/stocks_analyser_logo.png' %}"
                    alt="stocks_analyser_logo"> </a>
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'stocksanalyser:index' %}"> Most Recent </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stocksanalyser:category' 'investing' %}"> Investing </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Learn Analysis </a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="{% url 'stocksanalyser:category' 'tech_analysis' %}"> 
                           Learn Technical Analysis</a></li>
                       <li><a class="dropdown-item" href="{% url 'stocksanalyser:category' 'fund_analysis' %}"> 
                           Learn Fundamental Analysis </a></li>
                     </ul>
                </li>
                
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocksanalyser:my_articles' %}"> My Articles </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocksanalyser:guest_article' %}"> Submit Articles </a>
                    </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'stocksanalyser:user_questions' %}"> Q&A </a>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"><strong>
                            ({{ user.username }})</strong></a>
                         <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="{% url 'stocksanalyser:logout' %}"> Log Out </a></li>
                         </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocksanalyser:login' %}"> Log In </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'stocksanalyser:register' %}"> Register </a>
                    </li>
                {% endif %}
              </ul>
            </div>
        </nav>
        
        <div class="body">
            <div class="container">
                <br>


                <div class="row">
                    <div class="col-8">
                        {% block body %}
                        {% endblock %}
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                            <h5 class="card-title">Connect with us:</h5>
                            <a href="https://www.facebook.com/stocksanalyser" class="card-link">
                                <img src="{% static 'stocksanalyser/fb_logo.png' %}" alt="facebook-logo">
                            </a>
                            <a href="https://twitter.com/stocksanalyser" class="card-link">
                                <img src="{% static 'stocksanalyser/twitter_logo.png' %}" alt="twitter-logo">
                            </a>
                            </div>
                        </div>

                        {% if rec_readings %}
                            <div class="card">
                                <div class="card-header">
                                Recommended Reading:
                                </div>
                                <ul class="list-group list-group-flush">
                                    {% for item in rec_readings %}
                                        <li class="list-group-item">
                                            <a href="{% url 'stocksanalyser:article' item.id %}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
