{% extends "stocksanalyser/layout.html" %}
{% load static %}

{% block body %}
    {% if user.is_authenticated %}
        <div id="compose-ques-view">
            <h5><span class="text-style">{{ user.username }}</span>
                 submit your investing related questions here and we will be glad to answer
                  them best to our knowledge. Happy to help !!</h5>
            <br>
            <form id="compose-ques-form">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control" id="user-ques-content" rows="3" placeholder="Enter your question here"></textarea>
                    <button type="submit" id="submit-ques-btn" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    {% else %}
        <div class="text-style">Register with us as a user to 
            ask questions from our experts !!</div>
        <br><br>
    {% endif %}
    <!-- Display previously entered questions by users if any -->
    {% if entries %}
        <div id="prev-ques-view">
            {% for entry in entries %}
                <div>Q: {{ entry.question }}</div>
                <!-- Display answer for the questions if present -->
                {% if entry.answer %}
                    <div>A: {{ entry.answer }}</div>
                <!-- If question has not been asnwered then display default text -->
                {% else %}
                    <div>(Thank you for submitting your question. 
                        We are finding best resources to answer this.)</div>
                {% endif %}
                <hr>
                <br>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
