#background-img {
    background-image: url("stocks_analyser.png");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 250px;
}

.articles-section {
    border-top: 1px solid grey;
    padding: 10px;
}

.liked {
    font-size: 100%;
    color: #E74C3C;
}

.unliked {
    font-size: 100%;
    color: grey;
}

.text-style {
    font-size: 100%;
    color: maroon;
    font-weight: bold;
}

/* For setting drop down menu */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}

.message {
    margin: 50px;
    font-weight: bold;
    text-shadow: 4px 2px 2px #cccc00;
}

.card {
    width: 18rem;
    margin-bottom: 70px;
}
